<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <!-- New navbar-->
    <div class="container">
        <div class="row" id="header">
            <div class="col-sm-4" id="logo">
                <h1 class="title">
                    <a href="/">
                        <span class="glyphicon glyphicon-console" aria-hidden="true"></span>
                        SozialHeap;
                    </a>
                </h1>
            </div>
            <div class="col-sm-3 headerExtra" id="headerSearch">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-default glyphicon glyphicon-search searchbutton" type="button"></button>
                    </span>
                </div>
            </div>
            <div class="col-sm-5 headerExtra" id="headerButtons">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div> <!-- Header finish -->


    <div class="container body-content" id="main">
        @RenderBody()
        <hr />
        <!-- footer starts -->
        <footer>
            <p><a href="#">&copy; SozialHeap 2015</a>, unnið af hóp 43</p>
        </footer>
    </div>
    <!-- Script to add links to question-->
    <script>
        function viewquestion() {
            window.location = "/Question/ViewQuestion";
        }
        function viewgroup() {
            window.location = "/Group/GroupFeed";
        }

        function viewuser() {
            window.location = "/User/UserFeed";
        }
        window.onload = function () {
            $(".postquestion").click(viewquestion)
            $(".postgroup").click(viewgroup);
            $(".postuser").click(viewuser);
            $(".postquestion, .postgroup, .postuser").css('cursor', 'pointer');;


        }

    </script>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


    <!-- login modal starts -->
    <div class="modal fade" id="loginmodal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Log in</h4>
                </div>
                <div class="modal-body" style="margin-left: 2em;">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <label for="UserName" class="control-label">User name</label>
                            <input type="text" class="form-control" id="UserName" name="UserName">
                        </div>

                        <div class="form-group">
                            <label for="Password" class="control-label">Password</label>
                            <input type="password" class="form-control" id="Password" name="Password">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Log in</button>
                        </div>
                    }
                </div>
            </div>

        </div>
    </div>
    <script>
        $(function () {

            $('#loginmodal').on('shown.bs.modal', function () {
                $('#UserName').value = "";
                $('#UserName').focus();
            });

            $('#registermodal').on('shown.bs.modal', function () {
                $('#RegisterUserName').value = "";
                $('#RegisterConfirmPassword').value = "";
                $('#RegisterPassword').value = "";
                $('#RegisterUserName').focus();
            });
        });

        function stopRKey(evt) {
            var evt = (evt) ? evt : ((event) ? event : null);
            var node = (evt.target) ? evt.target : ((evt.srcElement) ? evt.srcElement : null);
            if ((evt.keyCode == 13) && (node.type == "text") && (node.id == "UserName")) {
                $('#Password').focus();
                return false;
            }
            else if ((evt.keyCode == 13) && (node.type == "text") && (node.id == "RegisterUserName")) {
                $('#RegisterPassword').focus();
                return false;
            }
            else if ((evt.keyCode == 13) && (node.type == "password") && (node.id == "RegisterPassword")) {
                $('#RegisterConfirmPassword').focus();
                return false;
            }
        }

        document.onkeypress = stopRKey;

    </script>
    <!-- login modal ends-->
    <!-- login modal starts -->
    <div class="modal fade" id="registermodal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Register new user</h4>
                </div>
                <div class="modal-body" style="margin-left: 2em;">
                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <label for="UserName" class="control-label">User name</label>
                            <input type="text" class="form-control" id="RegisterUserName" name="UserName">
                        </div>

                        <div class="form-group">
                            <label for="Password" class="control-label">Password</label>
                            <input type="password" class="form-control" id="RegisterPassword" name="Password">
                        </div>
                        <div class="form-group">
                            <label for="ConfirmPassword" class="control-label">Confirm password</label>
                            <input type="password" class="form-control" id="RegisterConfirmPassword" name="Password">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Log in</button>
                        </div>
                    }
                </div>
            </div>
            </div>
        </div>
    <!-- register modal ends-->
</body>

</html>
