@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    <a href="@Url.Action("ViewUser/" + @System.Web.HttpContext.Current.User.Identity.Name, "User")">
        <button class="btn user hidelower" type="button" id="buttonProfile">@System.Web.HttpContext.Current.User.Identity.Name <span class="badge" id="headerNotification" onclick="return false;">@ViewBag.notifications</span></button>
    </a>
        <a href="@Url.Action("Index","Group")">
            <button class="btn group hidelower" type="button" id="buttonGroup">Groups</button>
            </a>
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()

    <button class="btn glyphicon glyphicon-log-out hidelower" id="buttonLogOut" type="button" onclick="javascript:document.getElementById('logoutForm').submit()"></button>
    }
}
else
{
    <button class="btn" id="buttonRegister" data-toggle="modal" data-target="#registermodal">Register</button>
    <button class="btn glyphicon glyphicon-log-in" id="buttonLogIn" data-toggle="modal" data-target="#loginmodal"></button>
}
