@model Sozialheap.Models.ViewModels.UserView
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-primary user">


            <div class="panel-heading">
                <h3 id="panel-title" class="panel-title">

                    @ViewBag.Site

                </h3>
            </div>
            <div class="panel-body">

                @if (ViewBag.Site == "Following")
                {
                    foreach (var item in Model.user.Users)
                    {
                        <div class="col-sm-6">
                            <div class="topitem postquestion">
                                <a href="@Url.Action("ViewUser/" + @item.userName, "User")">
                                    <span class="makedivlink makedivlink_small"></span>
                                </a>
                                <div class="imgholder">
                                    @if (item.photo != null)
                                    {
                                        <img src="@item.photo" alt="User photo" />
                                    }
                                    else
                                    {
                                        <img src="~/images/anonymous_user.png" alt="User photo"/>
                                    }
                                </div>
                                <div class="authorscore userScore">
                                    <span class="badge">
                                        <span class="glyphicon glyphicon-console">
                                        </span> @item.score
                                    </span>
                                </div>
                                <h4 class="userName">@item.userName</h4>
                            </div>
                        </div>
                    }
                }
                else if(ViewBag.Site == "Followers")
                {
                    foreach (var item in Model.user.Users1)
                    {
                        <div class="col-sm-6">
                            <div class="topitem postquestion">
                                <a href="@Url.Action("ViewUser/" + @item.userName, "User")">
                                    <span class="makedivlink makedivlink_small"></span>
                                </a>
                                <div class="imgholder">
                                    @if (item.photo != null)
                                    {
                                        <img src="@item.photo" alt="User photo" />
                                    }
                                    else
                                    {
                                        <img src="~/images/anonymous_user.png" alt="User photo" />
                                    }
                                </div>
                                <div class="authorscore userScore">
                                    <span class="badge">
                                        <span class="glyphicon glyphicon-console">
                                        </span> @item.score
                                    </span>
                                </div>
                                <h4 class="userName">@item.userName</h4>
                            </div>
                        </div>
                    }
                }
                else
                { 
                    foreach (var item in Model.userList)
                    {
                        <div class="col-sm-6">
                            <div class="topitem postquestion">
                                <a href="@Url.Action("ViewUser/" + @item.userName, "User")">
                                    <span class="makedivlink makedivlink_small"></span>
                                </a>
                                <div class="imgholder">
                                    @if (item.photo != null)
                                    {
                                        <img src="@item.photo" alt="User photo" />
                                    }
                                    else
                                    {
                                        <img src="~/images/anonymous_user.png" alt="User photo" />
                                    }
                                </div>
                                <div class="authorscore userScore">
                                    <span class="badge">
                                        <span class="glyphicon glyphicon-console">
                                        </span> @item.score
                                    </span>
                                </div>
                                <h4 class="userName">@item.userName</h4>
                            </div>
                        </div>
                    }
                }

            </div>
        </div>
        <!-- Top Users ends -->
    </div>
</div>
