@model Sozialheap.Models.ViewModels.UserView
@{
    ViewBag.Title = "ViewUser";
}

<!-- <d class="row"> -->
<!-- group profile starts -->
<div class="col-sm-6">
    <div class="panel panel-primary user">

        <div class="panel-heading">
            <h3 id="panel-title" class="panel-title">

                User profile

            </h3>
        </div>

        <div class="panel-body">
            <div class="end"></div>

            <div class="textholder post profile">
                <div class="imgholder">
                    <img src="~/images/anonymous_user.png" />
                </div>
                <div class="authorinfo">
                    <h4>@Model.user.userName</h4>
                    <div class="authorscore">
                        <span class="badge">
                            <span class="glyphicon glyphicon-console">
                            </span> @Model.user.score
                        </span>
                    </div>
                    <!-- author score ends -->
                </div>
                <div class="end"></div>

                <div class="description">@Model.user.description</div>
                <div class="end"></div>
                <div class="row">
                    <div class="buttonLeftCol">

                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="button">
                                @if (Model.following)
{
    <a class="btn user followed" style="width: 100px;" href="@Url.Action("StopFollowing/"+Model.user.userName)">
        <span class="glyphicon glyphicon-ok"> </span> Following
    </a>

}
                                else
                                {
                                    <a class="btn user notfollowing" style="width: 100px;" href="@Url.Action("StartFollowing/"+Model.user.userName)">
                                        <span class="glyphicon glyphicon-plus"></span> Follow
                                    </a>
                                }

                            </div>
                        }
                        </div>
                    <div class="buttonRightCol">

                        <div class="buttons">
                            <button class="btn btn-default">Followers <span class="badge"> @Model.user.Users1.Count </span></button>
                            <button class="btn btn-default">Following <span class="badge"> @Model.user.Users.Count </span></button>
                </div>
                        </div>
                    </div>
            </div>
        </div>
        <div class="end"></div>


    </div>
</div>

<!-- group profile ends -->
<!-- Top Users starts -->
<div class="col-sm-6">
    <div class="panel panel-primary user">

        <div class="panel-heading">
            <h3 id="panel-title" class="panel-title">

                Top Followers

            </h3>
        </div>
        <div class="panel-body">
            @if (Model.user.Users1.Take(5).Count() == 0)
            {
                <div class="nofriends">
                    @Model.user.userName has currently no followers.
                </div>
                
            }
           @foreach (var item in Model.user.Users1.Take(5))
{

    <div class="topitem postquestion">
        <a href="@Url.Action("ViewUser/" + @item.userName, "User")">
            <span class="makedivlink makedivlink_small"></span>
        </a>
        <div class="imgholder">
            <img src="~/images/anonymous_user.png" />
        </div>
        <h4>@item.userName</h4>
    </div>
}

        </div>
    </div>
    
    <div class="panel panel-primary group">

        <div class="panel-heading">
            <h3 id="panel-title" class="panel-title">

                Groups

            </h3>
        </div>
        <div class="panel-body">
            @if (Model.user.Groups1.Take(5).Count() == 0)
            {
                <div class="nofriends">
                    @Model.user.userName is currently not following any groups.
                </div>

            }
            @foreach (var item in Model.user.Groups1.Take(5))
{

            <div class="topitem postquestion">
                <a href="@Url.Action("ViewGroup/" + @item.groupID, "Group")">
                    <span class="makedivlink makedivlink_small"></span>
                </a>
                <div class="imgholder">
                    <img src="~/images/Group.png" />
                </div>
                <h4>@item.groupName</h4>
            </div>
}                      
            

        </div>
    </div>
    </div>
    <!-- Top Users ends -->
    <!-- Top Question starts -->
    <div class="col-sm-6">
        <div class="panel panel-primary question">

            <div class="panel-heading">
                <h3 id="panel-title" class="panel-title">

                    Newest Questions

                </h3>
            </div>
            @if (Model.postList.Count() == 0)
            {
                <div class="nofriends">
                    @Model.user.userName has not posted any questions.
                </div>

            }
            @foreach (var item in Model.postList)
            {
                <div class="panel-body">
                    <div class="topitem postquestion">
                        <div class="imgholder">
                            <img src="~/images/anonymous_user.png" />
                        </div>
                        <div class="textholder">
                            <h4>@item.name </h4> <span class="notimportant">posted in </span><a href="#">@item.Group.groupName </a><br />
                            @item.body
                        </div>
                        <a href="@Url.Action("ViewQuestion/" + @item.postID, "Question")">
                            <span class="makedivlink"></span>
                        </a>
                    </div>
                </div>
            }

        </div>
    </div>

    <!-- Top Question ends -->


</div>

