@model Sozialheap.Models.ViewModels.AllGroupView

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-sm-12">
        <a href="#createGroup" class="btn btn-default groupbutton" data-toggle="modal">
            Create group
        </a>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-primary group">

           
            <div class="panel-heading">
                <h3 id="panel-title" class="panel-title">

                    Group list

                </h3>
            </div>
            <div class="panel-body">
              
                @foreach (var item in Model.groupList)
                {
                        <div class="col-sm-6">

                    <div class="topitem postquestion">
                        
                        <div class="imgholder">
                            <a href="@Url.Action("ViewGroup/" + @item.groupID, "Group")">
                                @if (item.photo != null)
                                {
                                    <img src="@item.photo" alt="Group photo"/>
                                }
                                else
                                {
                                    <img src="~/images/Group.png" alt="Group photo"/>
                                }
                                
                            </a>

                        </div>
                            <h4>@item.groupName</h4><br />
                            <a href="@Url.Action("ViewGroup/" + @item.groupID, "Group")">
                                <!-- Owner: @item.User.userName -->
                                <span class="makedivlink makedivlink_small"></span>
                            </a>

                    </div>
                            </div>
                }

            </div>
        </div>
        <!-- Top Users ends -->
    </div>
</div>
@Html.Partial("_CreateGroup")