@model SozialHeap.Models.Group
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-primary user">


            <div class="panel-heading">
                <h3 id="panel-title" class="panel-title">

                    @ViewBag.Title

                </h3>
            </div>
            <div class="panel-body">

                @foreach (var item in Model.Users)
                {
                <div class="col-sm-6">
                    <div class="topitem postquestion">
                        <a href="@Url.Action("ViewUser/" + @item.userName, "User")">
                            <span class="makedivlink makedivlink_small"></span>
                        </a>
                        <div class="imgholder">
                            @if (ViewBag.photo != null)
                            {
                                <img src="@ViewBag.photo" alt="user photo" />
                            }
                            else
                            {
                                <img src="~/images/anonymous_user.png" alt="user photo" />
                            }
                        </div>
                        <div class="authorscore userScore">
                            <span class="badge">
                                <span class="glyphicon glyphicon-console">
                                </span> @item.score
                            </span>
                        </div>
                        <h4 class="userName">@item.userName</h4>
                    </div>
                </div>
                }

            </div>
        </div>
        <!-- Top Users ends -->
    </div>
</div>
