@model Sozialheap.Models.ViewModels.PostView
@{
    ViewBag.Title = "ViewQuestion";
}

<!-- Question starts -->

    <div class="col-sm-12">
        <div class="panel panel-primary">

            <div class="panel-heading question">
                <h3 id="panel-title" class="panel-title">

                    @Model.currentPost.name

                </h3>
            </div>
            <div class="panel-body">

                <div class="textholder post">
                    <div class="imgholder">
                        <img src="~/images/anonymous_user.png" />
                    </div>
                    <div class="authorinfo">
                        <h4>
                            @Model.currentPost.User.userName

                            <!-- author score starts -->
                            <span class="notimportant">asked:</span>
                        </h4>
                        <div class="authorscore">
                            <span class="badge">
                                <span class="glyphicon glyphicon-console">
                                </span> @Model.currentPost.User.score
                            </span>
                        </div>
                        <!-- author score ends -->

                    </div>
                    <div class="postinfo">
                        <span class="notimportant">question posted:</span> @Model.currentPost.dateCreated

                    </div>
                    <div class="end">
                        @Model.currentPost.body
                        <div class="postfooter">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <div class="leftbutton">
                                    <a href="#createAnswer" class="btn btn-default" data-toggle="modal">Reply</a>
                                </div>
                            }
                            
                            <div class="coolpost rightbutton"><span class="glyphicon glyphicon-thumbs-up badge"> @Model.currentPost.scoreCounter </span> </div>
                        </div>
                        <div class="endfooter">&nbsp;</div>
                    </div>

                </div>
                <!-- Responses start-->
                <h4 class="responses">Responses (descenting order)</h4>

                @foreach(var item in Model.answerList)
                {

                <!-- Answer test starts -->
                <div class="col-sm-12">
                    <div class="panel panel-primary answer">

                        <div class="panel-heading">
                            <h3 id="panel-title" class="panel-title">

                                @item.title

                            </h3>
                        </div>
                        <div class="panel-body">

                            <div class="textholder post">
                                <div class="imgholder">
                                    <img src="~/images/anonymous_user.png" />
                                </div>
                                <div class="authorinfo">
                                    <h4>
                                        @item.User.userName
                                        <!-- author score starts -->
                                        <span class="notimportant">answered:</span>
                                    </h4>
                                    <div class="authorscore">
                                        <span class="badge">
                                            <span class="glyphicon glyphicon-console">
                                            </span> @item.User.score
                                        </span>
                                    </div>
                                    <!-- author score ends -->

                                </div>
                                <div class="postinfo">

                                </div>
                                <div class="end" style="white-space: pre-wrap;">
                                    @item.body


                                </div>

                            </div>
                            <div class="questionbox">
                                <div class="info"> <span class="notimportant">answer posted:</span> @item.dateCreated</div>


                            <div class="cool"><span class="glyphicon glyphicon-thumbs-up badge"> @item.scoreCounter </span></div>
                        </div>
                    </div>
                        </div>
                 </div>
                }
                <a name="bottom"></a>
            </div>
        </div>
    </div>
    <!-- Question test ends -->

<!-- Answer button -->
@Html.Partial("_CreateAnswer")