@model Sozialheap.Models.ViewModels.PostView
@{
    ViewBag.Title = Model.currentPost.name+" - "+Model.currentPost.Group.groupName;
}

<!-- Question starts -->

<div class="col-sm-12">
    <div class="panel panel-primary" id="question">

        <div class="panel-heading question">
            <h3 id="panel-title" class="panel-title">

                @Model.currentPost.name - @Model.currentPost.Group.groupName

            </h3>
        </div>
        <div class="panel-body">

            <div class="textholder post">
                <div class="imgholder">
                    @if(Model.currentPost.User.photo != null)
                    {
                        <img src="@Model.currentPost.User.photo" alt="User photo"/>
                    }
                    else
                    { 
                        <img src="~/images/anonymous_user.png" alt="User photo"/>
                    }
                </div>
                <div class="authorinfo">
                    <h4>
                        @Html.ActionLink(Model.currentPost.User.userName, "ViewUser/"+Model.currentPost.User.userName, "User")

                        <!-- author score starts -->
                        <span class="notimportant">asked:</span>
                    </h4>
                    <div class="authorscore">
                        <span class="badge user">
                            <span class="glyphicon glyphicon-console">
                            </span> @Model.currentPost.User.score
                        </span>
                    </div>
                    <!-- author score ends -->

                </div>
                <div class="postinfo">
                    <span class="notimportant">posted</span> @ViewBag.timeSince

                </div>
                <div class="end">
                    @Model.currentPost.body
                    <div class="postfooter">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="leftbutton">
                                <a href="#createAnswer" class="btn btn-default" data-toggle="modal">Reply</a>
                            </div>
                        }
                        <div class="coolpost rightbutton">
                            <script>
                                function like(id, elem)
                                {
                                    $.get("/Question/LikePostAjax/"+id, function (data, status) {
                                        var re = /^([0-9])+$/g;
                                        if (re.test(data))
                                        {
                                            createUnlikeButton(elem, id, data);                                                                                        
                                        }
                                    });
                                    return false;
                                }
                                function unlike(id, elem)
                                {
                                    $.get("/Question/UnLikePostAjax/" + id, function (data, status) {
                                        var re = /^([0-9])+$/g;
                                        if (re.test(data)) {
                                            createLikeButton(elem, id, data);
                                        }
                                    });
                                    return false;
                                }
                            </script>
                            @if (User.Identity.IsAuthenticated)
                            {
                                if (Model.LikedPost)
                                {
                                    <a href="@Url.Action("UnLikePost/" + Model.currentPost.postID)" onclick="unlike('@Model.currentPost.postID', this); return false;">
                                        <button class="btn unlikebutton"> <span class="glyphicon glyphicon-thumbs-up"></span> Liked! (@Model.currentPost.scoreCounter)</button>
</a>
                                }
                                else
                                {
                                    <a href="@Url.Action("LikePost/" + Model.currentPost.postID)" onclick="like('@Model.currentPost.postID', this); return false;">
                                        <button class="btn likebutton"> <span class="glyphicon glyphicon-thumbs-up"></span> Like (@Model.currentPost.scoreCounter)</button>
                                    </a>
                                }
                            }
                            else
                            {
                                <span class="glyphicon glyphicon-thumbs-up badge"> @Model.currentPost.Users.Count Likes </span>
                            }

                        </div>
                    </div>
                    <div class="endfooter">&nbsp;</div>
                </div>

            </div>
            <!-- Responses start-->
            <h4 class="responses">Responses</h4>


            @for (int i = 0; i < Model.answerList.Count; i++)
            {

                <!-- Answer test starts -->
                <div class="col-sm-12">
                    <div class="panel panel-primary answer">

                        <div class="panel-heading">
                            <h3 id="panel-title" class="panel-title">

                                @Model.answerList[i].title

                            </h3>
                        </div>
                        <div class="panel-body">

                            <div class="textholder post">
                                <div class="imgholder">
                                    @if(Model.answerList[i].User.photo != null)
                                    {
                                        <img src="@Model.answerList[i].User.photo" alt="User photo"/>
                                    }
                                    else
                                    {
                                        <img src="~/images/anonymous_user.png" alt="User photo"/>
                                    }
                                </div>
                                <div class="authorinfo">
                                    <h4>
                                        @Html.ActionLink(Model.answerList[i].User.userName, "ViewUser/" + Model.answerList[i].User.userName, "User")
                                        
                                        <!-- author score starts -->
                                        <span class="notimportant">answered:</span>
                                    </h4>
                                    <div class="authorscore">
                                        <span class="badge user">
                                            <span class="glyphicon glyphicon-console">
                                            </span> @Model.answerList[i].User.score
                                        </span>
                                    </div>
                                    <!-- author score ends -->

                                </div>
                                <div class="postinfo">

                                </div>
                                <div class="end" style="white-space: pre-wrap;">@Model.answerList[i].body
                            </div>

                        </div>
                        <div class="questionbox">
                            <div class="info"> <span class="notimportant">posted</span> @ViewBag.ansTime[i]</div>


                        </div>
                    </div>
                </div>
            </div>
            }
            <a name="bottom"></a>
        </div>
    </div>
</div>
<!-- Question test ends -->
<!-- Answer button -->
@Html.Partial("_CreateAnswer")