@model Sozialheap.Models.ViewModels.PostView
@{
    ViewBag.Title = "ViewQuestion";
}

<!-- Question starts -->

    <div class="col-sm-6">
        <div class="panel panel-primary">

            <div class="panel-heading question">
                <h3 id="panel-title" class="panel-title">

                    @Model.currentPost.name

                </h3>
            </div>
            <div class="panel-body">

                <div class="textholder post">
                    <div class="imgholder">
                        <img src="https://pbs.twimg.com/profile_images/486509703564771329/SM9Jy_c3_bigger.jpeg" />
                    </div>
                    <div class="authorinfo">
                        <h4>
                            @Model.currentPost.User.userName

                            <!-- author score starts -->
                            <span class="notimportant">asked:</span>
                        </h4>
                        <div class="authorscore">
                            <span class="badge">
                                <span class="glyphicon glyphicon-console">
                                </span> @Model.currentPost.User.score
                            </span>
                        </div>
                        <!-- author score ends -->

                    </div>
                    <div class="postinfo">
                        <span class="notimportant">question posted:</span> @Model.currentPost.dateCreated

                    </div>
                    <div class="end">
                        @Model.currentPost.body
                        <div class="postfooter">
                            <div class="leftbutton">
                                <button class="btn btn-default">Reply</button>
                            </div>
                            <div class="coolpost rightbutton"><span class="glyphicon glyphicon-thumbs-up badge"> @Model.currentPost.scoreCounter </span> </div>
                        </div>
                        <div class="endfooter">&nbsp;</div>
                    </div>

                </div>
                <!-- Responses start-->
                <h4 class="responses">Responses</h4>

                @foreach(var item in Model.answerList)
                {

                <!-- Answer test starts -->
                <div class="col-sm-12">
                    <div class="panel panel-primary answer">

                        <div class="panel-heading">
                            <h3 id="panel-title" class="panel-title">

                                @item.title

                            </h3>
                        </div>
                        <div class="panel-body">

                            <div class="textholder post">
                                <div class="imgholder">
                                    <img src="https://pbs.twimg.com/profile_images/486509703564771329/SM9Jy_c3_bigger.jpeg" />
                                </div>
                                <div class="authorinfo">
                                    <h4>
                                        @item.User.userName
                                        <!-- author score starts -->
                                        <span class="notimportant">answered:</span>
                                    </h4>
                                    <div class="authorscore">
                                        <span class="badge">
                                            <span class="glyphicon glyphicon-console">
                                            </span> @item.User.score
                                        </span>
                                    </div>
                                    <!-- author score ends -->

                                </div>
                                <div class="postinfo">

                                </div>
                                <div class="end">
                                    @item.body


                                </div>

                            </div>
                            <div class="" style="width:100%; padding-right: 30px; padding-left: 30px;  padding-top: 15px;  position: relative; top:-2em;">
                                <div style="float: left;  display: inline; height: 20px;"> <span class="notimportant">answer posted:</span> @item.dateCreated</div>


                            </div><div style="float: right; display: inline; height:20px; margin-top: -30px; margin-right: 30px;"><span class="glyphicon glyphicon-thumbs-up badge"> @item.User.score </span></div>
                        </div>
                    </div>
                        </div>
                 
                }

            </div>
        </div>
    </div>
    <!-- Question test ends -->
