@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<a href="#createPost"
   class="btn btn-warning"
   data-toggle="modal">Post a question</a>

<a href="#createAnswer"
   class="btn btn-warning"
   data-toggle="modal">Answer</a>

<a href="#createGroup"
   class="btn btn-warning"
   data-toggle="modal">Create group</a>

@Html.Partial("_CreatePost")
@Html.Partial("_CreateAnswer")
@Html.Partial("_CreateGroup")