@model SozialHeap.Models.ViewModels.SearchResults

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<button class="btn group" id="groupsearchbutton"><input type="checkbox" checked/> Groups</button>
<button class="btn user" id="usersearchbutton"><input type="checkbox" checked /> Users </button>
<button class="btn question" id="questionsearchbutton"><input type="checkbox" checked /> Questions</button>

<div id="searchresult" class="row">

    @{int usersFound = 0;
    int groupsFound = 0;
    int questionsFound = 0;}
    <div class="row groupfound">
        <div class="col-sm-12">
            <div class="panel panel-primary group">


                <div class="panel-heading">
                    <h3 id="panel-title" class="panel-title">

                        Groups

                    </h3>
                </div>
                <div class="panel-body">
                    @foreach (var item in Model.groups)
                    {
                        ++groupsFound;

                        <div class="col-sm-6">

                            <div class="topitem postquestion">

                                <div class="imgholder">
                                    <a href="@Url.Action("/ViewGroup/" + item.groupID, "Group")">
                                        @if(item.photo != null)
                                        {
                                            <img src="@item.photo" alt="Group photo"/>
                                        }
                                        else
                                        {
                                            <img src="/images/Group.png" alt="Group photo"/>
                                        }
                                        
                                    </a>

                                </div>
                                <h4>@item.groupName</h4><br />
                                <a href="@Url.Action("/ViewGroup/" + item.groupID, "Group")">
                                    <span class="makedivlink makedivlink_small"></span>
                                </a>

                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="end"></div>
    <div class="row userfound">
        <div class="col-sm-12">
            <div class="panel panel-primary user">


                <div class="panel-heading">
                    <h3 id="panel-title" class="panel-title">

                        Users

                    </h3>
                </div>
                <div class="panel-body">


                    @foreach (var item in Model.users)
                    {
                        ++usersFound;

                        <div class="col-sm-6">

                            <div class="topitem postquestion">

                                <div class="imgholder">
                                    <a href="@Url.Action("/ViewUser/" + item.userName, "User")">
                                        @if(item.photo != null)
                                        {
                                            <img src="@item.photo" alt="User photo"/>
                                        }
                                        else
                                        {
                                            <img src="/images/anonymous_user.png" alt="User photo"/>
                                        }
                                        
                                    </a>

                                </div>
                                <h4>@item.userName</h4><br />
                                <a href="@Url.Action("/ViewUser/" + item.userName, "User")">
                                    <span class="makedivlink makedivlink_small"></span>
                                </a>

                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="end"></div>
    <div class="row questionfound">
        <div class="col-sm-12">
            <div class="panel panel-primary question">


                <div class="panel-heading">
                    <h3 id="panel-title" class="panel-title">

                        Questions

                    </h3>
                </div>
                <div class="panel-body">
                    @foreach (var item in Model.Posts)
                    {
                        ++questionsFound;

                        <div class="col-sm-6">

                            <div class="topitem postquestion">

                                <div class="imgholder">
                                    <a href="@Url.Action("/ViewQuestion/" + item.postID, "Question")">
                                        <img src="/images/question.png" alt="Question photo"/>
                                    </a>

                                </div>
                                <h4>@item.name</h4><br />
                                <a href="@Url.Action("/ViewQuestion/" + item.postID, "Question")">
                                    <span class="makedivlink makedivlink_small"></span>
                                </a>

                            </div>
                        </div>
                    }

                    <script>
                        var usersFound = @usersFound;
                        var groupsFound = @groupsFound;
                        var questionsFound = @questionsFound;
                    </script>



                </div>
            </div>
        </div>
    </div>
</div>

</div>
</div>
